.bird {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 196, 0);
  position: fixed;
  top: 40%;
  left: 20%;
  border-radius: 50%;
  border: 3px solid black;
  //   transform: rotate(45deg);
}

.bird__mouth {
  background-color: red;
  position: absolute;
  top: 60%;
  right: -5%;
  height: 15px;
  width: 40px;
  border-radius: 20px;
  border: 3px solid black;
}
.bird__mouth-line {
  background-color: black;
  position: absolute;
  right: 0;
  left: 0;
  top: calc(50% - 3px / 2);
  height: 3px;
}
.bird__eye {
  position: absolute;
  top: 8%;
  right: 8%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid black;
}
.bird__eye-dot {
  width: 8px;
  height: 15px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  top: 30%;
  left: 50%;
}
// .bird__wing {
//   position: absolute;
//   top: 50%;
//   left: -25%;
//   background-color: rgb(255, 196, 0);
//   border: 3px solid black;
//   height: 20px;
//   width: 50px;
//   transform: rotate(0deg) skew(-50deg, 0deg);
//   animation: birdFly 0.4s linear infinite both;
// }

// @keyframes birdFly {
//   50% {
//     transform: rotate(-30deg) skew(-50deg, 0deg);
//   }
//   100% {
//     transform: rotate(0deg) skew(-50deg, 0deg);
//   }
// }
