.cloud {
  position: fixed;
  background-color: white;
  border-radius: 10px;
  z-index: -10;
  right: 0;
  animation: cloudMove 3s linear 1 both;
  opacity: 0.5;
}

@keyframes cloudMove {
  0% {
    right: -100%;
  }
  100% {
    right: 110%;
  }
}
