@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  border: 10px solid yellow;
  box-sizing: border-box;
  background-color: rgb(0, 132, 255);
}
